<!DOCTYPE html>
<html>
<head>
	<title> Seleccion de salas </title>
</head>
<body>


	<!-- LOGIN FORM -->
	<form action="/sala-llamadas" method="post">
	    <div class="form-group">
	        <label>A que sala quiere conectarse</label>
	        <input type="text" class="form-control" name="salaVideoLlamada" required >
	    </div>


	    <button type="submit" class="btn btn-warning btn-lg">Conectarse</button>
	</form>

</body>
</html>